<!doctype html>
<html>
    <header>
        <meta charset="UTF-8">
        <title> Dashboard </title>
    </header>

    <body>
        <p><h1> Welcome {{.Fname}}</h1></p>

            Your Full Name: {{.Fname}} {{.Lname}} <br>
            Your Email: {{.Email}}  <br>
            Your User Name: {{.Uname}}
        
        <h5><a href="/suggest">Get your suggestion</a></h5>
        <h5><a href="/logout">Sign Out</a></h5>
    </body>
</html>