<!doctype html>
<html>
    <header>
        <meta charset="UTF-8">
        <title> Login Page</title>
    </header>

    <body>
        <p><h1>Login</h1></p>
        <p>
            <form method="POST" action="/">
                <label for="uname">UserName: </label>
                <input type="text" id="uname" name="uname" placeholder="UserName">
                <label for="psword">Password: </label>
                <input type="text" id="psword" name="psword" placeholder="Password">
            </form>
            
        </p>
        <h5><a href="/signup">Sign Up</a></h5><br>
    </body>
</html>