<!doctype html>
<html>
    <header>
        <meta charset="UTF-8">
        <title> Logged out </title>
    </header>

    <body>
        <h1>You're logged out</h1><br>
        <h5><a href="/login">Sign In</a></h5>
        <h5><a href="/signup">Sign Up</a></h5>
    </body>
</html>