<!doctype html>
<html>
    <header>
        <meta charset="UTF-8">
        <title> Dashboard </title>
    </header>

    <body>
        <p><h1> Hi </h1></p>
        <p>
            Your full name: 
            Your password:  
            
        </p>
        <h3>I suggest you keep on coding, it's gonna be rewarding one day. You just need to keep building</h3>
        <br>
        <h5><a href="/index">Go to Dashboard</a></h5>
        <h5><a href="/logout">Sign Out</a></h5>
    </body>
</html>